body {
    margin: 0px;
}

table.table th {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

table.table td {
    padding: 10px;
}

table.table td.note {
    background-color: #fcfcfc;
    border-top: 1px solid #ccc;
}

table.table {
    max-width: 65vw;
}

code span.comment {
    color: rgb(136, 34, 34);
}

span.descstr {
    color: #060;
}

span.typename {
    color: #006;
}
